<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/index.css?v=0.3.0">
    <title>Search for Models</title>
    <script src="../static/show_rawImg.js"></script>
    <script src="../static/form_func.js"></script>
    <script src="../static/show_selectedImg.js"></script>
</head>
<body onload="setImage({{ flag }},'{{ img_rtn }}')">
<h1>Search For Models</h1>
<div>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
        <div class="container">
            <div class="section">
                <h3 class="func_name">Input</h3>
                <div class="canvas_wrapper" style="max-height: 400px;height: auto;padding: 10px;text-align: center;">
                    <canvas id="select_pic_canvas" width="400px" height="400px">
                    </canvas>
                    {#                <button type="button" value="click" onclick="setImage()"></button>#}
                    {#                 <img style="width: 400px" src="data:;base64,{{ img_model }}">#}
                </div>
                <div>
                    {#                <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">#}
                    <label class="btn" for=select_pic>Choose..</label>
                    <input id="select_pic" type="file" name="file" accept=".png,.jpg,.jpeg"
                           onchange="show_selectedImage(); check_submit()">
                    {#                </form>#}
                </div>

            </div>
            <div class="section">
                <h3 class="func_name">Setting</h3>
                <div class="container">
                    <div class="setting">
                        <input type="text" name="isTest" value="10101" hidden="hidden">
                        <h4 class="setting_name">推荐系统运行模式</h4>
                        {#                    <form enctype="multipart/form-data" action="{{ url_for('upload') }}"#}
                        {#                          id="form_1" class="setting_form" style="text-align: match-parent">#}
                        <input type="radio" id="radio_test" name="search_mode" value=1 checked>
                        <label for="radio_test">人脸相似</label>
                        <input type="radio" name="search_mode" value=2>人脸语义相似
                        <input type="radio" name="search_mode" value=3>综合Mode
                        {#                    </form>#}
                    </div>
                    <div class="setting">
                        <h4 class="setting_name">返回结果个数</h4>
                        {#                    <form enctype="multipart/form-data" action="{{ url_for('upload') }}"#}
                        {#                          id="form_2" class="setting_form" style="text-align: match-parent">#}
                        <input type="radio" name="return_num" value=1>1
                        <input type="radio" name="return_num" value=4>4
                        <input type="radio" name="return_num" value=6 checked>6
                        {#                    </form>#}
                    </div>
                </div>

                <div class="container">
                    <div class="setting">
                        <h4 class="setting_name">预留设置卡片</h4>
                        {#                    <form id="from_3" class="setting_form" style="text-align: match-parent">#}
                        <input type="radio" name="no" value=1>NULL
                        <input type="radio" name="no" value=3>NULL
                        <input type="radio" name="no" value=5>NULL
                        {#                    </form>#}
                    </div>
                    <div class="setting">
                        <h4 class="setting_name">预留设置卡片</h4>
                        {#                    <form id="form_4" class="setting_form" style="text-align: match-parent">#}
                        <input type="radio" name="no" value=1>NULL
                        <input type="radio" name="no" value=3>NULL
                        <input type="radio" name="no" value=5>NULL
                        {#                    </form>#}
                    </div>
                </div>


                <div class="">
                    <div align="center">
                        <input id="submit_btn" type="submit" class="btn" value="Submit" disabled="disabled"/>
                        <script type="text/javascript">
                            function check_submit() {
                                if (document.getElementById("select_pic").files == null) {
                                    document.getElementById("submit_btn").disabled = true;
                                    console.log("file null")
                                } else {
                                    console.log("file got.")
                                    document.getElementById("submit_btn").disabled = false;
                                }

                            }
                        </script>
                        {#                    <input type="button" class="btn" value="Submit" onclick="submit_func()">#}
                    </div>
                </div>
            </div>


        </div>
    </form>

    <div class="result">
        <div class="section">
            <h3 class="func_name">Output</h3>
        </div>
    </div>

    <div class="result">
        {% set isHidden = "" %}
        {% if flag == 1 %}
            {% set isHidden = "hidden=\"hidden\"" %}
        {% endif %}
        {% for i in range(6) %}
            <div class="result_section">
                <div class="top-5">
                    <canvas class="show_result_canvas" id="no1" {{ isHidden }}>
                    </canvas>
                    {% if flag==1 %}
                        <img width="220px" height="100%" src="data:;base64,{{ top6ModelsInfo[i]['img_stream'] }}">


                        <div class="info">
                            <h3 class="h3_info">Name:
                                <span class="h3_info_name">{{ top6ModelsInfo[i]['name'].replace("_"," ") }}</span>
                            </h3>
                            <h3 class="h3_info">E-mail:</h3>
                        </div>
                    {% else %}
                        <div class="info">
                            <h3 class="h3_info">Name:</h3>
                            <h3 class="h3_info">E-mail:</h3>
                        </div>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>

    {#    <div class="result-container">#}
    {#        <div class="hint">#}
    {#        <table >#}
    {#        <tr>#}
    {#            {% if flag==0 %}#}
    {#                Your result will be shown here.#}
    {#            {% elif flag %}#}
    {#                {% for i in attr_result.keys() %}#}
    {#                <td>{{ attr_result[i] }} |</td>#}
    {#                {% endfor %}#}
    {##}
    {#            {% endif %}#}
    {#        </tr>#}
    {##}
    {##}
    {#        </table>#}
    {##}
    {##}
    {#        </div> <!---->#}
    {#    </div>#}
    {#    <div class="result">#}
    {##}
    {#        <div class="section">#}
    {#            <div class="top-5">#}
    {#                <canvas class="show_result_canvas" id="no1">#}
    {##}
    {#                </canvas>#}
    {#                <div class="section">#}
    {#                    <div class="info">#}
    {#                        <h3 class="h3_info">Name:</h3>#}
    {#                        <h3 class="h3_info">E-mail:</h3>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="section">#}
    {#            <div class="top-5">#}
    {#                <canvas class="show_result_canvas" id="no2">#}
    {##}
    {#                </canvas>#}
    {#                <div class="section">#}
    {#                    <div class="info">#}
    {#                        <h3 class="h3_info">Name:</h3>#}
    {#                        <h3 class="h3_info">E-mail:</h3>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="section">#}
    {#            <div class="top-5">#}
    {#                <canvas class="show_result_canvas" id="no3">#}
    {##}
    {#                </canvas>#}
    {#                <div class="section">#}
    {#                    <div class="info">#}
    {#                        <h3 class="h3_info">Name:</h3>#}
    {#                        <h3 class="h3_info">E-mail:</h3>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="result">#}
    {#        <div class="section">#}
    {#            <div class="top-5">#}
    {#                <canvas class="show_result_canvas" id="no4">#}
    {##}
    {#                </canvas>#}
    {#                <div class="section">#}
    {#                    <div class="info">#}
    {#                        <h3 class="h3_info">Name:</h3>#}
    {#                        <h3 class="h3_info">E-mail:</h3>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="section">#}
    {#            <div class="top-5">#}
    {#                <canvas class="show_result_canvas" id="no5">#}
    {##}
    {#                </canvas>#}
    {#                <div class="section">#}
    {#                    <div class="info">#}
    {#                        <h3 class="h3_info">Name:</h3>#}
    {#                        <h3 class="h3_info">E-mail:</h3>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="section">#}
    {#            <div class="top-5">#}
    {#                <canvas class="show_result_canvas" id="no6">#}
    {##}
    {#                </canvas>#}
    {#                <div class="section">#}
    {#                    <div class="info">#}
    {#                        <h3 class="h3_info">Name:</h3>#}
    {#                        <h3 class="h3_info">E-mail:</h3>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}


</div>

</div>
<footer>Made By CZD</footer>

</body>
</html>